<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>giflib | Home </title>
</head>
<body>
    <h1>Home</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias commodi cupiditate dolorem doloremque ducimus eaque excepturi fugit laborum nemo omnis, pariatur quos ratione recusandae sequi sint ullam velit, voluptates.</p>
    <img src="https://placehold.it/300x300/5fcf80/fffffff" alt="logo"/>

</body>
</html>